@font-face{
    font-family: "Roboto";
    src: url(./Assets/font/Roboto/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Roboto",sans-serif,serif;
}

body{
    display: flex;
    flex-direction: column;
}

/* HEADER BLOCK */

.header-block{
    display: flex;
    min-width: 100vh;
    min-height: 200px;
    flex-direction: column;
    background: #1F2937;
    gap: 4.5rem;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: normal;
}

.header-link{
    display: flex;
    padding: 10px;
    font-size: 18px;
    gap: 15px;
}

.header-link a{
    color: #a8a8a8;
}

.header-info{
    margin-top: 15px;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    
}


.left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 450px;
    min-height: 150px;
    color: #a8a8a8;
    font-size: 18px;
}


.right img{
    width: 500px;
}

.main-title{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
}

.left button{
    background: #3862F6;
    color: white;
    height: 25px;
    width: 100px;
    border-radius: 10px;
    border: solid black 1px;
}

/* INFORMATION BLOCK */
 
.information-block{
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    gap: 2rem;
    min-width: 100vh;
}

.info-title{
    font-size: 36px;
    font-weight: 900;
    margin: 0 auto 0 auto;
}

.info-block{
    display: flex;
    width: 75%;
    margin: 0 auto 0 auto;
}

.info-block ul{
    display: flex;
    gap: 2.5rem;
    justify-content: space-evenly;
}

.info-img{
    width: 250px;
    min-height: 250PX;
    border: 3px solid rgb(6, 84, 185);
    border-radius: 20px;
}

.info-block li{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 0 0 0;
    gap: 0.5rem;
}

/* QUOTE BLOCK */


.quote-block{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    min-width: 100vh;
    justify-content: center;
    align-items: center;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    text-wrap: stable;
    text-align: center;
    min-height: 200px;
    width: 75%;
    margin-top: 2rem;
}

.credit{
    margin: 1rem auto 1rem 80%;
    font-size: 1.5rem;
    font-weight: 500;
}

/* FOOTER BLOCK */

.footer-block{
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    min-height: 300px;
}

.sign-block{
    display: flex;
    min-height: 250px;
    min-width: 100vh;
    align-items: center;
    justify-content: center;
}

.box-block{
    display: flex;
    background-color: #3862F6;
    width: 50%;
    height: 125px;
    align-items: center;
    justify-content: space-between;
    padding: 0 5% 0 5%;
}

.box-block button{
    color: #F9FAF8;
    background-color: #3862F6;
    border: 1px solid #F9FAF8;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

.box-txt{
    color: #F9FAF8;
}

.footer{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    min-width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
}

